<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9rABaf_KBbLEY9UI2wiwiOZ8SeFoAZBE&sensor=false"></script>
		<script src='script.js'></script>		
	</head>	
	<body>
		<div class="container" ng-app="FourSqApp">			
			<div ng-controller="FourSqController">
				<h1 class="page-header"> Places and Pics</h1>
				<form>
				<input type="text" ng-model="tag"> IN 
				<input type="text" ng-model="city">
				<input type="submit" ng-click="getVenues()" class="button">
				</form>
				<div class="elements">
					<ul>
						<li></li>
					</ul>
				 <ul class="container">
					<li ng-repeat="venue in venues" class="urls venue col-md-2">
						
						<a ng-click= "getPhotos(venue.id, venue.location.lat, venue.location.lng)" class= "venueLinks">{{venue.name}}</a>
						
					</li>

				</ul>
				 <ul class="container">
					<li ng-repeat="photo in photos" class="photo col-md-2">
						
						<a target=_blank ng-click= "function()" href= "{{photo.prefix}}300x500{{photo.suffix}}"><img src="{{photo.prefix}}300x500{{photo.suffix}}"></a>
						
					</li>
					<li ng-show="!photos.length && initiated"> Sorry, no pics :(</li>
				</ul>
			</div>
			</div>
		</div>
		</div>	
		<div class="map"><div id="googlemap"></div></div>
</div>		
	</body>
</html>

