body{
	color: blue;
}

li.photo{
list-style: none;
}

.photo img{
max-width: 100%;
border-radius: 100%;
}

.photo p{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

h1{
text-align: center;
text-decoration: underline;
}