body{

	background-color: #F8FFE5;
	color:#00BFA8;
}

li.photo{
	list-style:none;
}

.photo img {
	max-width: 100%;
	border-radius: 80px;
}

.photo p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}