body {
}

li.photo {
	list-style: none;
}

.photo img {
	max-width: 100%;
}

.photo p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#googlemap {
		height:350px;
		width:1000px;
		border: 1px solid black;
}