li.photo {
	list-style: none;
}

.photo img {
	max-width: 100%;
}

.photo p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.captiontext {
	color: #0000ff;
}


.header{

		margin: auto;
		text-align: center;
		background-color: #ffffff;
		height: 150px;
		width: 965px;
		padding: 1px ;
		padding-left: 0px;
		color: #000000;
		opacity: 0.9;
		text-shadow:0px 0px 2px #FFFFFF, 2px 2px 2px #333333;
		box-shadow: 5px 5px 5px #330000;
		overflow: hidden;
	}
	
body{

	background: url('white.jpg') repeat;
	margin: auto;
	font-family:"Arial",Georgia,Serif;
	//display:inline-block;
	text-align: left;

	}
	
	
h1{
	top: 15 px;
	font-family: Arial, cursive;
	font-size: 3em;
	color: #000;
//	margin-top: 25px;
//	margin-left: 10px;
//	margin-bottom: 0px;
	text-align: left;
	background-color: #99ccff;
	box-shadow: 2px 2px 5px #330000;
	opacity: .9;
}	

	
.photo {
	padding: 15px;
	//overflow:hidden;
	position: relative;
	top: 5px;

	}

.photo img{

	display:inline-block;
	padding: 15px;
	margin: 10px;

	box-shadow: 2px 2px 5px #330000;
	//border-radius: 50%;
	transition: all 1s;
			
		}

		
.photo  img:hover{
	position: relative;
	top: -30px;
	left: -50px;

	box-shadow: #99ccff;
	border-radius: 5px 5px 5px 5px;
	transform: scale(2);
	transition: all 1s;
			}		
	